@font-face {
    font-family: Eskal; /* Гарнитура шрифта */
    src: url(shrifts/Eskal.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Abram; /* Гарнитура шрифта */
    src: url(shrifts/Abram.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Anselmo; /* Гарнитура шрифта */
    src: url(shrifts/Anselmo.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Benvolio; /* Гарнитура шрифта */
    src: url(shrifts/Benvolio.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Capuletty; /* Гарнитура шрифта */
    src: url(shrifts/Capuletty.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Djiovanni; /* Гарнитура шрифта */
    src: url(shrifts/Djiovanni.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Gregory; /* Гарнитура шрифта */
    src: url(shrifts/Gregory.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Lexa; /* Гарнитура шрифта */
    src: url(shrifts/Lexa.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Lorenco; /* Гарнитура шрифта */
    src: url(shrifts/Lorenco.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Merkucio; /* Гарнитура шрифта */
    src: url(shrifts/Merkucio.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Montekky; /* Гарнитура шрифта */
    src: url(shrifts/Montekky.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Pag; /* Гарнитура шрифта */
    src: url(shrifts/Pag.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Paris; /* Гарнитура шрифта */
    src: url(shrifts/Paris.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Salavat; /* Гарнитура шрифта */
    src: url(shrifts/Salavat.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Samson; /* Гарнитура шрифта */
    src: url(shrifts/Samson.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Stefano; /* Гарнитура шрифта */
    src: url(shrifts/Stefano.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Tibalt; /* Гарнитура шрифта */
    src: url(shrifts/Tibalt.ttf); /* Путь к файлу со шрифтом */
}

